<footer class="footer bg-dark py-4 mt-auto">
    <div class ="container">
        <span class="text-muted">New footer</span>
    </div>
    
</footer>

<style>
    .footer{
    position:fixed;
    left:0px;
   bottom:0px;
   width:100%;
   
    }
  </style>